# Assignment 2

For this assignment you'll be looking at 2017 data on immunizations from the CDC. Your datafile for this assignment is in [assets/NISPUF17.csv](assets/NISPUF17.csv). A data users guide for this, which you'll need to map the variables in the data to the questions being asked, is available at [assets/NIS-PUF17-DUG.pdf](assets/NIS-PUF17-DUG.pdf). **Note: you may have to go to your Jupyter tree (click on the Coursera image) and navigate to the assignment 2 assets folder to see this PDF file).**

## Question 1
Write a function called `proportion_of_education` which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

*This function should return a dictionary in the form of (use the correct numbers, do not round numbers):* 
```
    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}
```

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('NISPUF17.csv')
df.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [28]:
df['SEX'].unique()

array([1, 2], dtype=int64)

I need a mothers education df['EDUC1']

<12(1) or == 12(2) or >12(3) or college (4)

    ´{"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}´

In [51]:
df['EDUC1'].unique()

array([4, 3, 1, 2], dtype=int64)

In [63]:

less_hs = (len(df[df.EDUC1 == 1]) / len(df['EDUC1']))
equal_hs = (len(df[df.EDUC1 == 2]) / len(df['EDUC1']))
more_hs = (len(df[df.EDUC1 == 3]) / len(df['EDUC1']))
college = (len(df[df.EDUC1 == 4]) / len(df['EDUC1']))

print(round(less_hs,1),round(equal_hs,1), round(more_hs,1), round(college,1))

0.1 0.2 0.2 0.5

In [66]:
def proportion_of_education():
    import pandas as pd
    df = pd.read_csv('NISPUF17.csv.')
    less_hs = (len(df[df.EDUC1 == 1]) / len(df['EDUC1']))
    equal_hs = (len(df[df.EDUC1 == 2]) / len(df['EDUC1']))
    more_hs = (len(df[df.EDUC1 == 3]) / len(df['EDUC1']))
    college = (len(df[df.EDUC1 == 4]) / len(df['EDUC1']))
    result = {"less than high school": less_hs,
              "high school": equal_hs,
              "more than high school but not college": more_hs,
              "college": college}
    return result
    raise NotImplementedError()

In [67]:
proportion_of_education()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

In [68]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."

## Question 2

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

*This function should return a tuple in the form (use the correct numbers:*
```
(2.5, 0.1)
```

In [83]:
def average_influenza_doses():
    # YOUR CODE HERE
    import pandas as pd
    df = pd.read_csv('NISPUF17.csv')
    avg_yes = df[df.CBF_01 == 1]['P_NUMFLU'].mean()
    avg_no = df[df.CBF_01 == 2]['P_NUMFLU'].mean()
    result = (avg_yes,avg_no)
    return result

    raise NotImplementedError()

In [84]:
assert len(average_influenza_doses())==2, "Return two values in a tuple, the first for yes and the second for no."

In [82]:
df[df.CBF_01 == 1]['P_NUMFLU'].mean()
df[df.CBF_01 == 2]['P_NUMFLU'].mean()

1.5963945918878317

P_NUMFLU – total number of seasonal influenza doses

CBF_01 – child ever fed breast milk 1

## Question 3
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex. 

*This function should return a dictionary in the form of (use the correct numbers):* 
```
    {"male":0.2,
    "female":0.4}
```

Note: To aid in verification, the `chickenpox_by_sex()['female']` value the autograder is looking for starts with the digits `0.0077`.

In [107]:
def chickenpox_by_sex():
    import pandas as pd
    df = pd.read_csv('NISPUF17.csv')
    ratio_male = len(df.query(f'HAD_CPOX == 1 and P_NUMVRC == {1,2,3} and SEX == 1'))/len(df.query(f'HAD_CPOX == 2 and P_NUMVRC == {1,2,3} and SEX == 1'))
    ratio_female = len(df.query(f'HAD_CPOX == 1 and P_NUMVRC == {1,2,3} and SEX == 2'))/len(df.query(f'HAD_CPOX == 2 and P_NUMVRC == {1,2,3} and SEX == 2'))
    result = {"male":ratio_male, "female":ratio_female}
    return result
    raise NotImplementedError()

In [102]:
assert len(chickenpox_by_sex())==2, "Return a dictionary with two items, the first for males and the second for females."

In [108]:
chickenpox_by_sex()

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

In [99]:
teste = df.query(f'HAD_CPOX == 1 and P_NUMVRC == {1,2,3} and SEX == 2')
teste2 = df.query(f'HAD_CPOX == 2 and P_NUMVRC == {1,2,3} and SEX == 2')

In [100]:
len(teste) / len(teste2)

0.0077918259335489565

P_NUMVRC – total number of varicella doses

HAD_CPOX – did child ever have chicken pox (introduced in 2005; I_HADCPX used through 2004)

SEX - Sex

## Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. The `had_chickenpox_column` is either `1` (for yes) or `2` (for no), and the `num_chickenpox_vaccine_column` is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., `corr > 0`) means that an increase in `had_chickenpox_column` (which means more no’s) would also increase the values of `num_chickenpox_vaccine_column` (which means more doses of vaccine). If there is a negative correlation (e.g., `corr < 0`), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, `pval` is the probability that we observe a correlation between `had_chickenpox_column` and `num_chickenpox_vaccine_column` which is greater than or equal to a particular value occurred by chance. A small `pval` means that the observed correlation is highly unlikely to occur by chance. In this case, `pval` should be very small (will end in `e-18` indicating a very small number).

[1] This isn’t really the full picture, since we are not looking at when the dose was given. It’s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [7]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    # this is just an example dataframe
    #df=pd.DataFrame({"had_chickenpox_column":np.random.randint(1,3,size=(100)),
                   #"num_chickenpox_vaccine_column":np.random.randint(0,6,size=(100))})

    # here is some stub code to actually run the correlation
    #corr, pval=stats.pearsonr(df["had_chickenpox_column"],df["num_chickenpox_vaccine_column"])
    
    # just return the correlation
    #return corr

    df_new = df.query('HAD_CPOX in [1,2] and P_NUMVRC >= 0')[['HAD_CPOX', 'P_NUMVRC']]
    corr , pval = stats.pearsonr(df_new['HAD_CPOX'], df_new['P_NUMVRC'])
    return corr
    
    raise NotImplementedError()

In [ ]:
assert -1<=corr_chickenpox()<=1, "You must return a float number between -1.0 and 1.0."

In [8]:
corr_chickenpox()

-0.12122530210505944

In [15]:
import scipy.stats as stats
import numpy as np

In [16]:
df_new = df.query('HAD_CPOX in [1,2] and P_NUMVRC >= 0')[['HAD_CPOX', 'P_NUMVRC']]
corr , pval = stats.pearsonr(df_new['HAD_CPOX'], df_new['P_NUMVRC'])
print(corr, pval)

0.07044873460147867 2.7780263182892073e-18

In [22]:
import pandas as pd
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)

In [26]:
S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [94]:
grades = pd.read_csv('https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv', index_col=['Name'])
grades.head(15)

           StudyHours  Grade
Name
Dan             10.00   50.0
Joann           11.50   50.0
Pedro            9.00   47.0
Rosie           16.00   97.0
Ethan            9.25   49.0
Vicky            1.00    3.0
Frederic        11.50   53.0
Jimmie           9.00   42.0
Rhonda           8.50   26.0
Giovanni        14.50   74.0
Francesca       15.50   82.0
Rajab           13.75   62.0
Naiyana          9.00   37.0
Kian             8.00   15.0
Jenny           15.50   70.0

In [98]:
grades['10.00']

KeyError: '10.00'

In [82]:
#df[(df['toefl score'].isin(range(106, 115)))]
display(grades[(grades['Grade'].isin(range(50,90)))])
display(grades[grades['Grade'].gt(50) & grades['Grade'].lt(90)])
display(grades[(grades['Grade'] >50) & (grades['Grade'] <90)])

         Name  StudyHours  Grade
0         Dan       10.00   50.0
1       Joann       11.50   50.0
6    Frederic       11.50   53.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
14      Jenny       15.50   70.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0

         Name  StudyHours  Grade
6    Frederic       11.50   53.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
14      Jenny       15.50   70.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0

         Name  StudyHours  Grade
6    Frederic       11.50   53.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
14      Jenny       15.50   70.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0

In [85]:
grades.T['Rajab']

KeyError: 'Rajab'

In [68]:
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})