## Question 1

In [47]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nhl_df = pd.read_csv("assets/nhl.csv")
cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]


def nhl_correlation():
    # read the files
    nhl_df = pd.read_csv("assets/nhl.csv")
    cities = pd.read_html("assets/wikipedia_data.html")[1]
    cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]

    # select year = 2018 and create a column 'W/L%'
    nhl_df = nhl_df.query('year == 2018')
    nhl_df = nhl_df[nhl_df['W'].str.isnumeric() & nhl_df['L'].str.isnumeric()].astype({
        'W': int, 'L': int}).reset_index(drop=True)
    nhl_df['W/L%'] = nhl_df['W'] / (nhl_df['W'] + nhl_df['L'])

    # split teams names in nhl_df
    nhl_df['team'] = nhl_df['team'].str.replace(r'\*+', '', regex=True)
    nhl_df['team'] = nhl_df['team'].str.split(' ').str[-1]

    # split teams names in cities
    team = {'RangersIslandersDevils': 'Rangers Islanders Devils',
            'KingsDucks': 'Kings Ducks'}
    cities['NHL'] = cities['NHL'].str.replace(r'\[.*\]', '', regex=True)
    cities['NHL'] = cities['NHL'].replace(team)
    cities['NHL'] = cities['NHL'].str.split(' ')
    cities = cities.explode('NHL')

    # merge nhl_df and cities
    df = pd.merge(nhl_df, cities, left_on='team', right_on='NHL')
    df = df[['Metropolitan area', 'Population (2016 est.)[8]', 'NHL', 'W/L%']]

    # mean for same cities
    df_mean = df.groupby('Metropolitan area')[['W/L%']].mean()
    df = pd.merge(df, df_mean, on='Metropolitan area')
    df = df[['Metropolitan area',
             'Population (2016 est.)[8]', 'NHL', 'W/L%_y']].rename(columns={'W/L%_y': 'W/L%'})
    df = df.drop_duplicates('Metropolitan area').reset_index(drop=True)

    population_by_region = df['Population (2016 est.)[8]'].astype(
        'int64')  # pass in metropolitan area population from cities
    # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]
    win_loss_by_region = df['W/L%']

    assert len(population_by_region) == len(
        win_loss_by_region), "Q1: Your lists must be the same length"
    assert len(
        population_by_region) == 28, "Q1: There should be 28 teams being analysed for NHL"
    corr = stats.pearsonr(population_by_region, win_loss_by_region)

    return corr[0]

    raise NotImplementedError()

In [48]:
nhl_correlation()

0.012486162921209892

### Solution

In [ ]:
nhl_df = nhl_df.query('year == 2018')
nhl_df = nhl_df[nhl_df['W'].str.isnumeric() & nhl_df['L'].str.isnumeric()].astype({
    'W': int, 'L': int}).reset_index(drop=True)
nhl_df['W/L'] = nhl_df['W'] / (nhl_df['W'] + nhl_df['L'])
nhl_df

In [ ]:
# retirando o asterisco
nhl_df['team'] = nhl_df['team'].str.replace(r'\*+', '')

# separando os nomes dos times e criando uma nova coluna df com nome dos times
nhl_df['team_sep'] = nhl_df['team'].str.split(' ').str[-1]

nhl_df

In [ ]:
# separando os nomes dos times no cities
teams = {'RangersIslandersDevils': 'Rangers Islanders Devils',
         'KingsDucks': 'Kings Ducks'}
cities['NHL'] = cities['NHL'].str.replace(r'\[.*\]', '')
cities['NHL'] = cities['NHL'].replace(teams)
cities['NHL'] = cities['NHL'].str.split(' ')
cities = cities.explode('NHL')
cities

In [ ]:
# fazendo o merge entre os dataframes
df = pd.merge(nhl_df, cities, left_on='team_sep', right_on='NHL')

In [ ]:
df = df[['Metropolitan area',
         'Population (2016 est.)[8]', 'NHL', 'W', 'L', 'W/L']]
df

In [ ]:
# definindo as médias
df_mean = df.groupby(['Metropolitan area'])[['W/L']].mean()

In [ ]:
# merge entre o df e as médias
df_new = pd.merge(df, df_mean, on='Metropolitan area')
df_new = df_new[['Metropolitan area',
                 'Population (2016 est.)[8]', 'NHL', 'W/L_y']].rename(columns={'W/L_y': 'W/L%'})
df_new = df_new.drop_duplicates('Metropolitan area').reset_index(drop=True)
df_new

In [ ]:
df_new.info()

In [ ]:
population_by_region = df_new['Population (2016 est.)[8]'].astype(
    {'Population (2016 est.)[8]': 'Int64'})
win_loss_by_region = df_new['W/L%']

nhl_cor = stats.pearsonr(population_by_region, win_loss_by_region)
nhl_cor

## Question 2

In [27]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nba_df = pd.read_csv("assets/nba.csv")
cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]


def nba_correlation():
    nba_df = pd.read_csv("assets/nba.csv")
    cities = pd.read_html("assets/wikipedia_data.html")[1]
    cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]
    # nba
    nba_df = nba_df.query('year == 2018')
    nba_df['team'] = nba_df['team'].str.replace(
        r'(\*?).\(.+\)', '', regex=True)
    nba_df['team'] = nba_df['team'].str.split(' ').str[-1]

    # cities
    teams = {'KnicksNets': 'Knicks Nets', 'LakersClippers': 'Lakers Clippers'}
    cities['NBA'] = cities['NBA'].str.replace(r'\[.*\]', '', regex=True)
    cities['NBA'] = cities['NBA'].replace(teams)
    cities['NBA'] = cities['NBA'].str.split(' ')
    cities = cities.explode('NBA')

    # merge
    df = pd.merge(nba_df, cities, left_on='team', right_on='NBA')
    df = df[['Metropolitan area', 'Population (2016 est.)[8]', 'NBA', 'W/L%']].astype(
        {'Population (2016 est.)[8]': 'int64', 'W/L%': 'float'})

    # mean and merge
    df_mean = df.groupby('Metropolitan area')[['W/L%']].mean()
    df = pd.merge(df, df_mean, on='Metropolitan area')
    df = df[['Metropolitan area',
             'Population (2016 est.)[8]', 'NBA', 'W/L%_y']].rename(columns={'W/L%_y': 'W/L%'})
    df = df.drop_duplicates('Metropolitan area')

    # pass in metropolitan area population from cities
    population_by_region = df['Population (2016 est.)[8]']
    # pass in win/loss ratio from nba_df in the same order as cities["Metropolitan area"]
    win_loss_by_region = df['W/L%']

    assert len(population_by_region) == len(
        win_loss_by_region), "Q2: Your lists must be the same length"
    assert len(
        population_by_region) == 28, "Q2: There should be 28 teams being analysed for NBA"

    return stats.pearsonr(population_by_region, win_loss_by_region)
    raise NotImplementedError()

#### Solution

In [28]:
nba_correlation()

C:\Users\jeanm\AppData\Local\Temp\ipykernel_16104\696438505.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_df['team'] = nba_df['team'].str.replace(r'(\*?).\(.+\)', '', regex=True)
C:\Users\jeanm\AppData\Local\Temp\ipykernel_16104\696438505.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_df['team'] = nba_df['team'].str.split(' ').str[-1]

(-0.17636350642182935, 0.36932106185547353)

In [ ]:
nba_df = nba_df.query('year == 2018')
nba_df

In [2]:
# nba
nba_df = nba_df.query('year == 2018')
nba_df['team'] = nba_df['team'].str.replace(r'.\(.+\)', '')
nba_df['team'] = nba_df['team'].str.replace(r'\*+', '')
nba_df['team'] = nba_df['team'].str.split(' ').str[-1]
nba_df

C:\Users\jeanm\AppData\Local\Temp\ipykernel_19160\601805401.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  nba_df['team'] = nba_df['team'].str.replace(r'.\(.+\)','')
C:\Users\jeanm\AppData\Local\Temp\ipykernel_19160\601805401.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  nba_df['team'] = nba_df['team'].str.replace(r'\*+','')

,team,W,L,W/L%,GB,PS/G,PA/G,SRS,year,League
0,Raptors,59,23,0.72,—,111.7,103.9,7.29,2018,NBA
1,Celtics,55,27,0.6709999999999999,4.0,104.0,100.4,3.23,2018,NBA
2,76ers,52,30,0.634,7.0,109.8,105.3,4.3,2018,NBA
3,Cavaliers,50,32,0.61,9.0,110.9,109.9,0.59,2018,NBA
4,Pacers,48,34,0.585,11.0,105.6,104.2,1.18,2018,NBA
5,Heat,44,38,0.537,15.0,103.4,102.9,0.15,2018,NBA
6,Bucks,44,38,0.537,15.0,106.5,106.8,-0.45,2018,NBA
7,Wizards,43,39,0.524,16.0,106.6,106.0,0.53,2018,NBA
8,Pistons,39,43,0.47600000000000003,20.0,103.8,103.9,-0.26,2018,NBA
9,Hornets,36,46,0.439,23.0,108.2,108.0,0.07,2018,NBA
10,Knicks,29,53,0.354,30.0,104.5,108.0,-3.53,2018,NBA
11,Nets,28,54,0.341,31.0,106.6,110.3,-3.67,2018,NBA
12,Bulls,27,55,0.32899999999999996,32.0,102.9,110.0,-6.84,2018,NBA
13,Magic,25,57,0.305,34.0,103.4,108.2,-4.92,2018,NBA
14,Hawks,24,58,0.293,35.0,103.4,108.8,-5.3,2018,NBA
15,Rockets,65,17,0.7929999999999999,—,112.4,103.9,8.21,2018,NBA
16,Warriors,58,24,0.7070000000000001,7.0,113.5,107.5,5.79,2018,NBA
17,Blazers,49,33,0.598,16.0,105.6,103.0,2.6,2018,NBA
18,Thunder,48,34,0.585,17.0,107.9,104.4,3.42,2018,NBA
19,Jazz,48,34,0.585,17.0,104.1,99.8,4.47,2018,NBA
20,Pelicans,48,34,0.585,17.0,111.7,110.4,1.48,2018,NBA
21,Spurs,47,35,0.573,18.0,102.7,99.8,2.89,2018,NBA
22,Timberwolves,47,35,0.573,18.0,109.5,107.3,2.35,2018,NBA
23,Nuggets,46,36,0.561,19.0,110.0,108.5,1.57,2018,NBA
24,Clippers,42,40,0.512,23.0,109.0,109.0,0.15,2018,NBA
25,Lakers,35,47,0.42700000000000005,30.0,108.1,109.6,-1.44,2018,NBA
26,Kings,27,55,0.32899999999999996,38.0,98.8,105.8,-6.6,2018,NBA
27,Mavericks,24,58,0.293,41.0,102.3,105.4,-2.7,2018,NBA
28,Grizzlies,22,60,0.268,43.0,99.3,105.5,-5.81,2018,NBA
29,Suns,21,61,0.256,44.0,103.9,113.3,-8.8,2018,NBA

In [3]:
# cities
teams = {'KnicksNets': 'Knicks Nets', 'LakersClippers': 'Lakers Clippers'}
cities['NBA'] = cities['NBA'].str.replace(r'\[.*\]', '')
cities['NBA'] = cities['NBA'].replace(teams)
cities['NBA'] = cities['NBA'].str.split(' ')
cities = cities.explode('NBA')
cities

C:\Users\jeanm\AppData\Local\Temp\ipykernel_19160\4062869245.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  cities['NBA'] = cities['NBA'].str.replace(r'\[.*\]','')

,Metropolitan area,Population (2016 est.)[8],NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets[note 1],YankeesMets[note 2],Knicks,RangersIslandersDevils[note 3]
0,New York City,20153634,GiantsJets[note 1],YankeesMets[note 2],Nets,RangersIslandersDevils[note 3]
1,Los Angeles,13310447,RamsChargers[note 4],DodgersAngels,Lakers,KingsDucks
1,Los Angeles,13310447,RamsChargers[note 4],DodgersAngels,Clippers,KingsDucks
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7]
3,Chicago,9512999,Bears[note 8],CubsWhite Sox,Bulls,Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars
5,"Washington, D.C.",6131977,Redskins,Nationals[note 10],Wizards,Capitals
6,Philadelphia,6070500,Eagles,Phillies[note 12],76ers,Flyers[note 13]
7,Boston,4794447,Patriots[note 14],Red Sox[note 15],Celtics,Bruins
8,Minneapolis–Saint Paul,3551036,Vikings,Twins,Timberwolves,Wild[note 16]
9,Denver,2853077,Broncos,Rockies,Nuggets,Avalanche[note 18]
10,Miami–Fort Lauderdale,6066387,Dolphins,Marlins,Heat,Panthers
11,Phoenix,4661537,Cardinals,Diamondbacks,Suns,Coyotes
12,Detroit,4297617,Lions,Tigers[note 20],Pistons,Red Wings
13,Toronto,5928040,— [note 22],Blue Jays,Raptors,Maple Leafs
14,Houston,6772470,Texans[note 24],Astros,Rockets,—
15,Atlanta,5789700,Falcons,Braves,Hawks,[note 25]
16,Tampa Bay Area,3032171,Buccaneers,Rays,—,Lightning
17,Pittsburgh,2342299,Steelers,Pirates,,Penguins[note 28]
18,Cleveland,2055612,Browns[note 29],Indians[note 30],Cavaliers,[note 32]
19,Seattle,3798902,Seahawks,Mariners,,[note 34]
20,Cincinnati,2165139,Bengals,Reds[note 35],,—
21,Kansas City,2104509,Chiefs,Royals[note 37],,[note 39]
22,St. Louis,2807002,[note 40],Cardinals[note 41],,Blues[note 43]
23,Baltimore,2798886,Ravens[note 45],Orioles[note 46],,—
24,Charlotte,2474314,Panthers,—,Hornets,—
25,Indianapolis,2004230,Colts,[note 50],Pacers,—
26,Nashville,1865298,Titans,—,—,Predators
27,Milwaukee,1572482,[note 53],Brewers[note 54],Bucks,—
28,New Orleans,1268883,Saints,—,Pelicans,—
29,Buffalo,1132804,Bills[note 56],[note 57],,Sabres
30,Montreal,4098927,—,[note 59],—,Canadiens
31,Vancouver,2463431,—,—,,Canucks
32,Orlando,2441257,—,—,Magic,—
33,Portland,2424955,—,—,Trail,—
33,Portland,2424955,—,—,Blazers,—
34,Columbus,2041520,—,—,—,Blue Jackets
35,Calgary,1392609,—,—,—,Flames
36,Ottawa,1323783,—,—,—,Senators
37,Edmonton,1321426,—,—,—,Oilers
38,Salt Lake City,1186187,—,—,Jazz,—
39,Winnipeg,778489,—,—,—,Jets[note 61]
40,San Diego,3317749,[note 62],Padres,,—
41,San Antonio,2429609,[note 64],—,Spurs,—
42,Sacramento,2296418,—,—,Kings,—
43,Las Vegas,2155664,[note 6],—,—,Golden Knights
44,Jacksonville,1478212,Jaguars,—,—,—
45,Oklahoma City,1373211,—,—,Thunder,—
46,Memphis,1342842,[note 69],—,Grizzlies,—
47,Raleigh,1302946,—,—,—,Hurricanes
48,Green Bay,318236,Packers,—,—,—
49,Hamilton,747545,—,—,—,[note 71]
50,Regina,236481,—,—,—,—

In [13]:
# merge
df = pd.merge(nba_df, cities, left_on='team', right_on='NBA')
df = df[['Metropolitan area', 'Population (2016 est.)[8]', 'NBA', 'W/L%']].astype(
    {'Population (2016 est.)[8]': 'int64', 'W/L%': 'float'})
df

         Metropolitan area  Population (2016 est.)[8]           NBA   W/L%
0                  Toronto                    5928040       Raptors  0.720
1                   Boston                    4794447       Celtics  0.671
2             Philadelphia                    6070500         76ers  0.634
3                Cleveland                    2055612     Cavaliers  0.610
4             Indianapolis                    2004230        Pacers  0.585
5    Miami–Fort Lauderdale                    6066387          Heat  0.537
6                Milwaukee                    1572482         Bucks  0.537
7         Washington, D.C.                    6131977       Wizards  0.524
8                  Detroit                    4297617       Pistons  0.476
9                Charlotte                    2474314       Hornets  0.439
10           New York City                   20153634        Knicks  0.354
11           New York City                   20153634          Nets  0.341
12                 Chicago                    9512999         Bulls  0.329
13                 Orlando                    2441257         Magic  0.305
14                 Atlanta                    5789700         Hawks  0.293
15                 Houston                    6772470       Rockets  0.793
16  San Francisco Bay Area                    6657982      Warriors  0.707
17                Portland                    2424955       Blazers  0.598
18           Oklahoma City                    1373211       Thunder  0.585
19          Salt Lake City                    1186187          Jazz  0.585
20             New Orleans                    1268883      Pelicans  0.585
21             San Antonio                    2429609         Spurs  0.573
22  Minneapolis–Saint Paul                    3551036  Timberwolves  0.573
23                  Denver                    2853077       Nuggets  0.561
24             Los Angeles                   13310447      Clippers  0.512
25             Los Angeles                   13310447        Lakers  0.427
26              Sacramento                    2296418         Kings  0.329
27       Dallas–Fort Worth                    7233323     Mavericks  0.293
28                 Memphis                    1342842     Grizzlies  0.268
29                 Phoenix                    4661537          Suns  0.256

In [16]:
# merge
df = pd.merge(nba_df, cities, left_on='team', right_on='NBA')
df = df[['Metropolitan area', 'Population (2016 est.)[8]', 'NBA', 'W/L%']].astype(
    {'Population (2016 est.)[8]': 'int64', 'W/L%': 'float'})
df_mean = df.groupby('Metropolitan area')[['W/L%']].mean()
df = pd.merge(df, df_mean, on='Metropolitan area')
df = df[['Metropolitan area',
         'Population (2016 est.)[8]', 'NBA', 'W/L%_y']].rename(columns={'W/L%_y': 'W/L%'})
df = df.drop_duplicates('Metropolitan area')

28

## Question 3

In [51]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df = pd.read_csv("assets/mlb.csv")
cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]


def mlb_correlation():
    mlb_df = pd.read_csv("assets/mlb.csv")
    cities = pd.read_html("assets/wikipedia_data.html")[1]
    cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]

    # mlb
    mlb_df = mlb_df.query('year == 2018')
    mlb_df = mlb_df.replace(
        {'Boston Red Sox': 'RedSox', 'Chicago White Sox': 'WhiteSox'})
    mlb_df['team'] = mlb_df['team'].str.split(' ').str[-1]

    # cities
    teams = {'YankeesMets': 'Yankees Mets', 'DodgersAngels': 'Dodgers Angels',
             'GiantsAthletics': 'Giants Athletics', 'CubsWhite Sox': 'Cubs WhiteSox', 'Red Sox': 'RedSox'}
    cities['MLB'] = cities['MLB'].str.replace(r'\[.*\]', '', regex=True)
    cities['MLB'] = cities['MLB'].replace(teams).str.split(' ')
    cities = cities.explode('MLB')

    # merge
    df = pd.merge(mlb_df, cities, left_on='team', right_on='MLB')
    df = df[['Metropolitan area', 'Population (2016 est.)[8]', 'MLB', 'W-L%']].astype(
        {'Population (2016 est.)[8]': 'int64', 'W-L%': 'float'})

    # mean and merge
    df_mean = df.groupby('Metropolitan area')[['W-L%']].mean()
    df = pd.merge(df, df_mean, on='Metropolitan area').drop_duplicates(
        'Metropolitan area').reset_index(drop=True)
    df = df[['Metropolitan area',
             'Population (2016 est.)[8]', 'MLB', 'W-L%_y']].rename(columns={'W-L%_y': 'W-L%'})

    # pass in metropolitan area population from cities
    population_by_region = df['Population (2016 est.)[8]']
    # pass in win/loss ratio from mlb_df in the same order as cities["Metropolitan area"]
    win_loss_by_region = df['W-L%']

    assert len(population_by_region) == len(
        win_loss_by_region), "Q3: Your lists must be the same length"
    assert len(
        population_by_region) == 26, "Q3: There should be 26 teams being analysed for MLB"

    return stats.pearsonr(population_by_region, win_loss_by_region)
    raise NotImplementedError()

In [52]:
mlb_correlation()

(0.15003737475409495, 0.46442827201123427)

### Solution

In [15]:
mlb_df = mlb_df.query('year == 2018')
mlb_df = mlb_df.replace(
    {'Boston Red Sox': 'RedSox', 'Chicago White Sox': 'WhiteSox'})
mlb_df['team'] = mlb_df['team'].str.split(' ').str[-1]
mlb_df

            team    W    L   W-L%    GB  year League
0         RedSox  108   54  0.667    --  2018    MLB
1        Yankees  100   62  0.617   8.0  2018    MLB
2           Rays   90   72  0.556  18.0  2018    MLB
3           Jays   73   89  0.451  35.0  2018    MLB
4        Orioles   47  115  0.290  61.0  2018    MLB
5        Indians   91   71  0.562    --  2018    MLB
6          Twins   78   84  0.481  13.0  2018    MLB
7         Tigers   64   98  0.395  27.0  2018    MLB
8       WhiteSox   62  100  0.383  29.0  2018    MLB
9         Royals   58  104  0.358  33.0  2018    MLB
10        Astros  103   59  0.636    --  2018    MLB
11     Athletics   97   65  0.599   6.0  2018    MLB
12      Mariners   89   73  0.549  14.0  2018    MLB
13        Angels   80   82  0.494  23.0  2018    MLB
14       Rangers   67   95  0.414  36.0  2018    MLB
15        Braves   90   72  0.556    --  2018    MLB
16     Nationals   82   80  0.506   8.0  2018    MLB
17      Phillies   80   82  0.494  10.0  2018    MLB
18          Mets   77   85  0.475  13.0  2018    MLB
19       Marlins   63   98  0.391  26.5  2018    MLB
20       Brewers   96   67  0.589    --  2018    MLB
21          Cubs   95   68  0.583   1.0  2018    MLB
22     Cardinals   88   74  0.543   7.5  2018    MLB
23       Pirates   82   79  0.509  13.0  2018    MLB
24          Reds   67   95  0.414  28.5  2018    MLB
25       Dodgers   92   71  0.564    --  2018    MLB
26       Rockies   91   72  0.558   1.0  2018    MLB
27  Diamondbacks   82   80  0.506   9.5  2018    MLB
28        Giants   73   89  0.451  18.5  2018    MLB
29        Padres   66   96  0.407  25.5  2018    MLB

In [16]:
teams = {'YankeesMets': 'Yankees Mets', 'DodgersAngels': 'Dodgers Angels',
         'GiantsAthletics': 'Giants Athletics', 'CubsWhite Sox': 'Cubs WhiteSox', 'Red Sox': 'RedSox'}
cities['MLB'] = cities['MLB'].str.replace(r'\[.*\]', '')
cities['MLB'] = cities['MLB'].replace(teams).str.split(' ')
cities = cities.explode('MLB')
cities

C:\Users\jeanm\AppData\Local\Temp\ipykernel_8308\2152373135.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  cities['MLB'] = cities['MLB'].str.replace(r'\[.*\]', '')

,Metropolitan area,Population (2016 est.)[8],NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets[note 1],Yankees,KnicksNets,RangersIslandersDevils[note 3]
0,New York City,20153634,GiantsJets[note 1],Mets,KnicksNets,RangersIslandersDevils[note 3]
1,Los Angeles,13310447,RamsChargers[note 4],Dodgers,LakersClippers,KingsDucks
1,Los Angeles,13310447,RamsChargers[note 4],Angels,LakersClippers,KingsDucks
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],Giants,Warriors,Sharks[note 7]
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],Athletics,Warriors,Sharks[note 7]
3,Chicago,9512999,Bears[note 8],Cubs,Bulls[note 9],Blackhawks
3,Chicago,9512999,Bears[note 8],WhiteSox,Bulls[note 9],Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars
5,"Washington, D.C.",6131977,Redskins,Nationals,Wizards[note 11],Capitals
6,Philadelphia,6070500,Eagles,Phillies,76ers,Flyers[note 13]
7,Boston,4794447,Patriots[note 14],RedSox,Celtics,Bruins
8,Minneapolis–Saint Paul,3551036,Vikings,Twins,Timberwolves,Wild[note 16]
9,Denver,2853077,Broncos,Rockies,Nuggets[note 17],Avalanche[note 18]
10,Miami–Fort Lauderdale,6066387,Dolphins,Marlins,Heat,Panthers
11,Phoenix,4661537,Cardinals,Diamondbacks,Suns,Coyotes
12,Detroit,4297617,Lions,Tigers,Pistons[note 21],Red Wings
13,Toronto,5928040,— [note 22],Blue,Raptors[note 23],Maple Leafs
13,Toronto,5928040,— [note 22],Jays,Raptors[note 23],Maple Leafs
14,Houston,6772470,Texans[note 24],Astros,Rockets,—
15,Atlanta,5789700,Falcons,Braves,Hawks,[note 25]
16,Tampa Bay Area,3032171,Buccaneers,Rays,—,Lightning
17,Pittsburgh,2342299,Steelers,Pirates,[note 27],Penguins[note 28]
18,Cleveland,2055612,Browns[note 29],Indians,Cavaliers[note 31],[note 32]
19,Seattle,3798902,Seahawks,Mariners,[note 33],[note 34]
20,Cincinnati,2165139,Bengals,Reds,[note 36],—
21,Kansas City,2104509,Chiefs,Royals,[note 38],[note 39]
22,St. Louis,2807002,[note 40],Cardinals,[note 42],Blues[note 43]
23,Baltimore,2798886,Ravens[note 45],Orioles,[note 47],—
24,Charlotte,2474314,Panthers,—,Hornets[note 49],—
25,Indianapolis,2004230,Colts,,Pacers[note 51],—
26,Nashville,1865298,Titans,—,—,Predators
27,Milwaukee,1572482,[note 53],Brewers,Bucks,—
28,New Orleans,1268883,Saints,—,Pelicans[note 55],—
29,Buffalo,1132804,Bills[note 56],,[note 58],Sabres
30,Montreal,4098927,—,,—,Canadiens
31,Vancouver,2463431,—,—,[note 60],Canucks
32,Orlando,2441257,—,—,Magic,—
33,Portland,2424955,—,—,Trail Blazers,—
34,Columbus,2041520,—,—,—,Blue Jackets
35,Calgary,1392609,—,—,—,Flames
36,Ottawa,1323783,—,—,—,Senators
37,Edmonton,1321426,—,—,—,Oilers
38,Salt Lake City,1186187,—,—,Jazz,—
39,Winnipeg,778489,—,—,—,Jets[note 61]
40,San Diego,3317749,[note 62],Padres,[note 63],—
41,San Antonio,2429609,[note 64],—,Spurs,—
42,Sacramento,2296418,—,—,Kings,—
43,Las Vegas,2155664,[note 6],—,—,Golden Knights
44,Jacksonville,1478212,Jaguars,—,—,—
45,Oklahoma City,1373211,—,—,Thunder[note 68],—
46,Memphis,1342842,[note 69],—,Grizzlies,—
47,Raleigh,1302946,—,—,—,Hurricanes
48,Green Bay,318236,Packers,—,—,—
49,Hamilton,747545,—,—,—,[note 71]
50,Regina,236481,—,—,—,—

In [21]:
# merge
df = pd.merge(mlb_df, cities, left_on='team', right_on='MLB')
df = df[['Metropolitan area', 'Population (2016 est.)[8]', 'MLB', 'W-L%']].astype(
    {'Population (2016 est.)[8]': 'int64', 'W-L%': 'float'})
df_mean = df.groupby('Metropolitan area')[['W-L%']].mean()
df = pd.merge(df, df_mean, on='Metropolitan area')
df = df[['Metropolitan area',
         'Population (2016 est.)[8]', 'MLB', 'W-L%_y']].rename(columns={'W-L%_y': 'W-L%'})
df = df.drop_duplicates('Metropolitan area').reset_index(drop=True)
df

         Metropolitan area  Population (2016 est.)[8]           MLB   W-L%
0                   Boston                    4794447        RedSox  0.667
1            New York City                   20153634       Yankees  0.546
2           Tampa Bay Area                    3032171          Rays  0.556
3                  Toronto                    5928040          Jays  0.451
4                Baltimore                    2798886       Orioles  0.290
5                Cleveland                    2055612       Indians  0.562
6   Minneapolis–Saint Paul                    3551036         Twins  0.481
7                  Detroit                    4297617        Tigers  0.395
8                  Chicago                    9512999      WhiteSox  0.483
9              Kansas City                    2104509        Royals  0.358
10                 Houston                    6772470        Astros  0.636
11  San Francisco Bay Area                    6657982     Athletics  0.525
12                 Seattle                    3798902      Mariners  0.549
13             Los Angeles                   13310447        Angels  0.529
14       Dallas–Fort Worth                    7233323       Rangers  0.414
15                 Atlanta                    5789700        Braves  0.556
16        Washington, D.C.                    6131977     Nationals  0.506
17            Philadelphia                    6070500      Phillies  0.494
18   Miami–Fort Lauderdale                    6066387       Marlins  0.391
19               Milwaukee                    1572482       Brewers  0.589
20               St. Louis                    2807002     Cardinals  0.543
21              Pittsburgh                    2342299       Pirates  0.509
22              Cincinnati                    2165139          Reds  0.414
23                  Denver                    2853077       Rockies  0.558
24                 Phoenix                    4661537  Diamondbacks  0.506
25               San Diego                    3317749        Padres  0.407

## Question 4

In [45]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

nfl_df = pd.read_csv("assets/nfl.csv")
cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]


def nfl_correlation():
    nfl_df = pd.read_csv("assets/nfl.csv")
    cities = pd.read_html("assets/wikipedia_data.html")[1]
    cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]

    # nfl
    nfl_df = nfl_df.query('year == 2018')
    nfl_df['team'] = nfl_df['team'].str.replace(r'(\*|\+)', '', regex=True)
    nfl_df['team'] = nfl_df['team'].str.split(' ').str[-1]

    # cities
    teams = {'GiantsJets': 'Giants Jets',
             'RamsChargers': 'Rams Chargers', '49ersRaiders': '49ers Raiders'}
    cities['NFL'] = cities['NFL'].str.replace(r'\[.*\]', '', regex=True)
    cities['NFL'] = cities['NFL'].replace(teams).str.split(' ')
    cities = cities.explode('NFL')

    # merge
    df = pd.merge(nfl_df, cities, left_on='team', right_on='NFL')
    df = df[['Metropolitan area', 'Population (2016 est.)[8]', 'NFL', 'W-L%']].astype(
        {'Population (2016 est.)[8]': 'int64', 'W-L%': 'float'})
    df_mean = df.groupby('Metropolitan area')[['W-L%']].mean()
    df = pd.merge(df, df_mean, on='Metropolitan area').drop_duplicates(
        'Metropolitan area').reset_index(drop=True).rename(columns={'W-L%_y': 'W-L%'})

    # pass in metropolitan area population from cities
    population_by_region = df['Population (2016 est.)[8]']
    # pass in win/loss ratio from nfl_df in the same order as cities["Metropolitan area"]
    win_loss_by_region = df['W-L%']

    assert len(population_by_region) == len(
        win_loss_by_region), "Q4: Your lists must be the same length"
    assert len(
        population_by_region) == 29, "Q4: There should be 29 teams being analysed for NFL"

    return stats.pearsonr(population_by_region, win_loss_by_region)
    raise NotImplementedError()

In [46]:
nfl_correlation()

C:\Users\jeanm\AppData\Local\Temp\ipykernel_16104\692959198.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nfl_df['team'] = nfl_df['team'].str.replace(r'(\*|\+)', '', regex=True)
C:\Users\jeanm\AppData\Local\Temp\ipykernel_16104\692959198.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nfl_df['team'] = nfl_df['team'].str.split(' ').str[-1]

(0.00428214143639304, 0.9824114740736553)

### Solution

In [ ]:
cities.head(25)

In [40]:
nfl_df = nfl_df.query('year == 2018')
nfl_df['team'] = nfl_df['team'].str.replace(r'(\*|\+)', '', regex=True)
nfl_df['team'] = nfl_df['team'].str.split(' ').str[-1]
nfl_df

,DSRS,L,League,MoV,OSRS,PA,PD,PF,SRS,SoS,T,W,W-L%,team,year
0,AFC East,AFC East,NFL,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,East,2018
1,2.1,5,NFL,6.9,3.1,325,111,436,5.2,-1.8,0,11,.688,Patriots,2018
2,-5.2,9,NFL,-7.1,-3.6,433,-114,319,-8.8,-1.7,0,7,.438,Dolphins,2018
3,-0.6,10,NFL,-6.6,-6.3,374,-105,269,-6.9,-0.3,0,6,.375,Bills,2018
4,-5.9,12,NFL,-6.8,-2.0,441,-108,333,-7.8,-1.1,0,4,.250,Jets,2018
5,AFC North,AFC North,NFL,AFC North,AFC North,AFC North,AFC North,AFC North,AFC North,AFC North,AFC North,AFC North,AFC North,North,2018
6,6.4,6,NFL,6.4,0.6,287,102,389,7.0,0.6,0,10,.625,Ravens,2018
7,1.7,6,NFL,4.3,3.9,360,68,428,5.6,1.3,1,9,.594,Steelers,2018
8,0.6,8,NFL,-2.1,-1.0,392,-33,359,-0.3,1.7,1,7,.469,Browns,2018
9,-3.4,10,NFL,-5.4,0.0,455,-87,368,-3.4,2.0,0,6,.375,Bengals,2018
10,AFC South,AFC South,NFL,AFC South,AFC South,AFC South,AFC South,AFC South,AFC South,AFC South,AFC South,AFC South,AFC South,South,2018
11,1.4,5,NFL,5.4,2.4,316,86,402,3.8,-1.5,0,11,.688,Texans,2018
12,-0.6,6,NFL,5.6,3.9,344,89,433,3.4,-2.2,0,10,.625,Colts,2018
13,3.5,7,NFL,0.4,-3.2,303,7,310,0.2,-0.2,0,9,.563,Titans,2018
14,4.0,11,NFL,-4.4,-8.1,316,-71,245,-4.0,0.4,0,5,.313,Jaguars,2018
15,AFC West,AFC West,NFL,AFC West,AFC West,AFC West,AFC West,AFC West,AFC West,AFC West,AFC West,AFC West,AFC West,West,2018
16,-3.8,4,NFL,9.0,12.6,421,144,565,8.9,-0.1,0,12,.750,Chiefs,2018
17,2.9,4,NFL,6.2,3.0,329,99,428,6.0,-0.2,0,12,.750,Chargers,2018
18,3.1,10,NFL,-1.3,-3.6,349,-20,329,-0.5,0.7,0,6,.375,Broncos,2018
19,-4.1,12,NFL,-11.1,-5.2,467,-177,290,-9.3,1.8,0,4,.250,Raiders,2018
20,NFC East,NFC East,NFL,NFC East,NFC East,NFC East,NFC East,NFC East,NFC East,NFC East,NFC East,NFC East,NFC East,East,2018
21,2.9,6,NFL,0.9,-1.9,324,15,339,1.1,0.2,0,10,.625,Cowboys,2018
22,1.8,7,NFL,1.2,0.0,348,19,367,1.7,0.5,0,9,.563,Eagles,2018
23,0.6,9,NFL,-4.9,-5.6,359,-78,281,-4.9,-0.1,0,7,.438,Redskins,2018
24,-2.9,11,NFL,-2.7,0.8,412,-43,369,-2.2,0.5,0,5,.313,Giants,2018
25,NFC North,NFC North,NFL,NFC North,NFC North,NFC North,NFC North,NFC North,NFC North,NFC North,NFC North,NFC North,NFC North,North,2018
26,4.8,4,NFL,8.6,1.5,283,138,421,6.3,-2.3,0,12,.750,Bears,2018
27,1.8,7,NFL,1.2,-1.2,341,19,360,0.6,-0.6,1,8,.531,Vikings,2018
28,-2.7,9,NFL,-1.5,0.0,400,-24,376,-2.7,-1.2,1,6,.406,Packers,2018
29,0.3,10,NFL,-2.3,-3.3,360,-36,324,-3.0,-0.8,0,6,.375,Lions,2018
30,NFC South,NFC South,NFL,NFC South,NFC South,NFC South,NFC South,NFC South,NFC South,NFC South,NFC South,NFC South,NFC South,South,2018
31,2.2,3,NFL,9.4,7.9,353,151,504,10.1,0.6,0,13,.813,Saints,2018
32,0.8,9,NFL,-0.4,0.1,382,-6,376,0.9,1.3,0,7,.438,Panthers,2018
33,-2.6,9,NFL,-0.6,2.5,423,-9,414,-0.1,0.4,0,7,.438,Falcons,2018
34,-4.6,11,NFL,-4.3,2.0,464,-68,396,-2.6,1.7,0,5,.313,Buccaneers,2018
35,NFC West,NFC West,NFL,NFC West,NFC West,NFC West,NFC West,NFC West,NFC West,NFC West,NFC West,NFC West,NFC West,West,2018
36,-1.1,3,NFL,8.9,9.5,384,143,527,8.5,-0.4,0,13,.813,Rams,2018
37,1.5,6,NFL,5.1,3.0,347,81,428,4.5,-0.6,0,10,.625,Seahawks,2018
38,-3.1,12,NFL,-5.8,-2.5,435,-93,342,-5.5,0.3,0,4,.250,49ers,2018
39,-1.9,13,NFL,-12.5,-9.6,425,-200,225,-11.5,1.0,0,3,.188,Cardinals,2018

In [41]:
# cities
teams = {'GiantsJets': 'Giants Jets',
         'RamsChargers': 'Rams Chargers', '49ersRaiders': '49ers Raiders'}
cities['NFL'] = cities['NFL'].str.replace(r'\[.*\]', '', regex=True)
cities['NFL'] = cities['NFL'].replace(teams).str.split(' ')
cities = cities.explode('NFL')
cities

,Metropolitan area,Population (2016 est.)[8],NFL,MLB,NBA,NHL
0,New York City,20153634,Giants,YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3]
0,New York City,20153634,Jets,YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3]
1,Los Angeles,13310447,Rams,DodgersAngels,LakersClippers,KingsDucks
1,Los Angeles,13310447,Chargers,DodgersAngels,LakersClippers,KingsDucks
2,San Francisco Bay Area,6657982,49ers,GiantsAthletics,Warriors,Sharks[note 7]
2,San Francisco Bay Area,6657982,Raiders,GiantsAthletics,Warriors,Sharks[note 7]
3,Chicago,9512999,Bears,CubsWhite Sox,Bulls[note 9],Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars
5,"Washington, D.C.",6131977,Redskins,Nationals[note 10],Wizards[note 11],Capitals
6,Philadelphia,6070500,Eagles,Phillies[note 12],76ers,Flyers[note 13]
7,Boston,4794447,Patriots,Red Sox[note 15],Celtics,Bruins
8,Minneapolis–Saint Paul,3551036,Vikings,Twins,Timberwolves,Wild[note 16]
9,Denver,2853077,Broncos,Rockies,Nuggets[note 17],Avalanche[note 18]
10,Miami–Fort Lauderdale,6066387,Dolphins,Marlins,Heat,Panthers
11,Phoenix,4661537,Cardinals,Diamondbacks,Suns,Coyotes
12,Detroit,4297617,Lions,Tigers[note 20],Pistons[note 21],Red Wings
13,Toronto,5928040,—,Blue Jays,Raptors[note 23],Maple Leafs
13,Toronto,5928040,,Blue Jays,Raptors[note 23],Maple Leafs
14,Houston,6772470,Texans,Astros,Rockets,—
15,Atlanta,5789700,Falcons,Braves,Hawks,[note 25]
16,Tampa Bay Area,3032171,Buccaneers,Rays,—,Lightning
17,Pittsburgh,2342299,Steelers,Pirates,[note 27],Penguins[note 28]
18,Cleveland,2055612,Browns,Indians[note 30],Cavaliers[note 31],[note 32]
19,Seattle,3798902,Seahawks,Mariners,[note 33],[note 34]
20,Cincinnati,2165139,Bengals,Reds[note 35],[note 36],—
21,Kansas City,2104509,Chiefs,Royals[note 37],[note 38],[note 39]
22,St. Louis,2807002,,Cardinals[note 41],[note 42],Blues[note 43]
23,Baltimore,2798886,Ravens,Orioles[note 46],[note 47],—
24,Charlotte,2474314,Panthers,—,Hornets[note 49],—
25,Indianapolis,2004230,Colts,[note 50],Pacers[note 51],—
26,Nashville,1865298,Titans,—,—,Predators
27,Milwaukee,1572482,,Brewers[note 54],Bucks,—
28,New Orleans,1268883,Saints,—,Pelicans[note 55],—
29,Buffalo,1132804,Bills,[note 57],[note 58],Sabres
30,Montreal,4098927,—,[note 59],—,Canadiens
31,Vancouver,2463431,—,—,[note 60],Canucks
32,Orlando,2441257,—,—,Magic,—
33,Portland,2424955,—,—,Trail Blazers,—
34,Columbus,2041520,—,—,—,Blue Jackets
35,Calgary,1392609,—,—,—,Flames
36,Ottawa,1323783,—,—,—,Senators
37,Edmonton,1321426,—,—,—,Oilers
38,Salt Lake City,1186187,—,—,Jazz,—
39,Winnipeg,778489,—,—,—,Jets[note 61]
40,San Diego,3317749,,Padres,[note 63],—
41,San Antonio,2429609,,—,Spurs,—
42,Sacramento,2296418,—,—,Kings,—
43,Las Vegas,2155664,,—,—,Golden Knights
44,Jacksonville,1478212,Jaguars,—,—,—
45,Oklahoma City,1373211,—,—,Thunder[note 68],—
46,Memphis,1342842,,—,Grizzlies,—
47,Raleigh,1302946,—,—,—,Hurricanes
48,Green Bay,318236,Packers,—,—,—
49,Hamilton,747545,—,—,—,[note 71]
50,Regina,236481,—,—,—,—

In [42]:
# merge

df = pd.merge(nfl_df, cities, left_on='team', right_on='NFL')
df = df[['Metropolitan area', 'Population (2016 est.)[8]', 'NFL', 'W-L%']].astype(
    {'Population (2016 est.)[8]': 'int64', 'W-L%': 'float'})
df_mean = df.groupby('Metropolitan area')[['W-L%']].mean()
df = pd.merge(df, df_mean, on='Metropolitan area').drop_duplicates(
    'Metropolitan area').reset_index(drop=True).rename(columns={'W-L%_y': 'W-L%'})
df

,Metropolitan area,Population (2016 est.)[8],NFL,W-L%_x,W-L%
0,Boston,4794447,Patriots,0.688,0.6880
1,Miami–Fort Lauderdale,6066387,Dolphins,0.438,0.4380
2,Buffalo,1132804,Bills,0.375,0.3750
3,New York City,20153634,Jets,0.250,0.2815
4,Baltimore,2798886,Ravens,0.625,0.6250
5,Pittsburgh,2342299,Steelers,0.594,0.5940
6,Cleveland,2055612,Browns,0.469,0.4690
7,Cincinnati,2165139,Bengals,0.375,0.3750
8,Houston,6772470,Texans,0.688,0.6880
9,Indianapolis,2004230,Colts,0.625,0.6250
10,Nashville,1865298,Titans,0.563,0.5630
11,Jacksonville,1478212,Jaguars,0.313,0.3130
12,Kansas City,2104509,Chiefs,0.750,0.7500
13,Los Angeles,13310447,Chargers,0.750,0.7815
14,Denver,2853077,Broncos,0.375,0.3750
15,San Francisco Bay Area,6657982,Raiders,0.250,0.2500
16,Dallas–Fort Worth,7233323,Cowboys,0.625,0.6250
17,Philadelphia,6070500,Eagles,0.563,0.5630
18,"Washington, D.C.",6131977,Redskins,0.438,0.4380
19,Chicago,9512999,Bears,0.750,0.7500
20,Minneapolis–Saint Paul,3551036,Vikings,0.531,0.5310
21,Green Bay,318236,Packers,0.406,0.4060
22,Detroit,4297617,Lions,0.375,0.3750
23,New Orleans,1268883,Saints,0.813,0.8130
24,Charlotte,2474314,Panthers,0.438,0.4380
25,Atlanta,5789700,Falcons,0.438,0.4380
26,Tampa Bay Area,3032171,Buccaneers,0.313,0.3130
27,Seattle,3798902,Seahawks,0.625,0.6250
28,Phoenix,4661537,Cardinals,0.188,0.1880

## Question 5
In this question I would like you to explore the hypothesis that **given that an area has two sports teams in different sports, those teams will perform the same within their respective sports**. How I would like to see this explored is with a series of paired t-tests (so use [`ttest_rel`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html)) between all pairs of sports. Are there any sports where we can reject the null hypothesis? Again, average values where a sport has multiple teams in one region. Remember, you will only be including, for each sport, cities which have teams engaged in that sport, drop others as appropriate. This question is worth 20% of the grade for this assignment.

In [18]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df = pd.read_csv("assets/mlb.csv")
nhl_df = pd.read_csv("assets/nhl.csv")
nba_df = pd.read_csv("assets/nba.csv")
nfl_df = pd.read_csv("assets/nfl.csv")
cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]


def sports_team_performance():
    # YOUR CODE HERE
    raise NotImplementedError()

    # Note: p_values is a full dataframe, so df.loc["NFL","NBA"] should be the same as df.loc["NBA","NFL"] and
    # df.loc["NFL","NFL"] should return np.nan
    sports = ['NFL', 'NBA', 'NHL', 'MLB']
    p_values = pd.DataFrame({k: np.nan for k in sports}, index=sports)

    assert abs(p_values.loc["NBA", "NHL"] -
               0.02) <= 1e-2, "The NBA-NHL p-value should be around 0.02"
    assert abs(p_values.loc["MLB", "NFL"] -
               0.80) <= 1e-2, "The MLB-NFL p-value should be around 0.80"
    return p_values

In [ ]:
# cities
teams = {'RangersIslandersDevils': 'Rangers Islanders Devils',
         'KingsDucks': 'Kings Ducks'}
cities['NHL'] = cities['NHL'].str.replace(r'\[.*\]', '', regex=True)
cities['NHL'] = cities['NHL'].replace(team)
cities['NHL'] = cities['NHL'].str.split(' ')

teams = {'KnicksNets': 'Knicks Nets', 'LakersClippers': 'Lakers Clippers'}
cities['NBA'] = cities['NBA'].str.replace(r'\[.*\]', '', regex=True)
cities['NBA'] = cities['NBA'].replace(teams)
cities['NBA'] = cities['NBA'].str.split(' ')

teams = {'YankeesMets': 'Yankees Mets', 'DodgersAngels': 'Dodgers Angels',
         'GiantsAthletics': 'Giants Athletics', 'CubsWhite Sox': 'Cubs WhiteSox', 'Red Sox': 'RedSox'}
cities['MLB'] = cities['MLB'].str.replace(r'\[.*\]', '', regex=True)
cities['MLB'] = cities['MLB'].replace(teams).str.split(' ')

teams = {'GiantsJets': 'Giants Jets',
         'RamsChargers': 'Rams Chargers', '49ersRaiders': '49ers Raiders'}
cities['NFL'] = cities['NFL'].str.replace(r'\[.*\]', '', regex=True)
cities['NFL'] = cities['NFL'].replace(teams).str.split(' ')

cities['NHL'] = cities['NHL'].str.split(' ')
cities['NBA'] = cities['NBA'].str.split(' ')
cities['MLB'] = cities['MLB'].str.split(' ')
cities['NFL'] = cities['NFL'].str.split(' ')

In [4]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df = pd.read_csv("assets/mlb.csv")
nhl_df = pd.read_csv("assets/nhl.csv")
nba_df = pd.read_csv("assets/nba.csv")
nfl_df = pd.read_csv("assets/nfl.csv")
cities = pd.read_html("assets/wikipedia_data.html")[1]
cities = cities.iloc[:-1, [0, 3, 5, 6, 7, 8]]

# remmember CubsWithe Sox -> Cubs WitheSox
teams = {'RangersIslandersDevils': 'Rangers Islanders Devils',
         'KingsDucks': 'Kings Ducks', 'KnicksNets': 'Knicks Nets', 'LakersClippers': 'Lakers Clippers', 'YankeesMets': 'Yankees Mets', 'DodgersAngels': 'Dodgers Angels',
         'GiantsAthletics': 'Giants Athletics', 'CubsWhite Sox': 'Cubs WhiteSox', 'Red Sox': 'RedSox', 'GiantsJets': 'Giants Jets',
         'RamsChargers': 'Rams Chargers', '49ersRaiders': '49ers Raiders'}

cities[['NHL', 'NBA', 'MLB', 'NFL']] = cities[['NHL', 'NBA', 'MLB', 'NFL']].replace(r'\[.*\]', '', regex=True)
cities[['NHL', 'NBA', 'MLB', 'NFL']] = cities[['NHL', 'NBA', 'MLB', 'NFL']].replace(teams).apply(lambda x: x.str.split(' '))

for x in ['NHL', 'NBA', 'MLB', 'NFL']:
    cities = cities.explode(x)

In [ ]:
# NHL
nhl_df = nhl_df.query('year == 2018')
nhl_df = nhl_df[nhl_df['W'].str.isnumeric() & nhl_df['L'].str.isnumeric()].astype({
    'W': int, 'L': int}).reset_index(drop=True)
nhl_df['W/L%'] = nhl_df['W'] / (nhl_df['W'] + nhl_df['L'])

# split teams names in nhl_df
nhl_df['team'] = nhl_df['team'].str.replace(r'\*+', '', regex=True)
nhl_df['team'] = nhl_df['team'].str.split(' ').str[-1]
nhl_df = nhl_df[['team', 'W/L%']].rename(columns={'team': 'team_nhl','W/L%': 'W/L%_nhl'}).astype({'W/L%_nhl':'float'})

# merge NHL
nhl_df = pd.merge(nhl_df, cities, left_on='team_nhl', right_on='NHL')
nhl_df = nhl_df[['Metropolitan area','team_nhl', 'W/L%_nhl']].drop_duplicates(subset='team_nhl').reset_index(drop=True)
nhl_df = nhl_df.groupby('Metropolitan area')[['W/L%_nhl']].mean()
nhl_df

In [5]:
# NHL
nhl_df = nhl_df.query('year == 2018')
nhl_df = nhl_df[nhl_df['W'].str.isnumeric() & nhl_df['L'].str.isnumeric()].astype({
    'W': int, 'L': int}).reset_index(drop=True)
nhl_df['W/L%'] = nhl_df['W'] / (nhl_df['W'] + nhl_df['L'])

# split teams names in nhl_df
nhl_df['team'] = nhl_df['team'].str.replace(r'\*+', '', regex=True)
nhl_df['team'] = nhl_df['team'].str.split(' ').str[-1]

# merge NHL
nhl_df = pd.merge(nhl_df, cities, left_on='team', right_on='NHL')
nhl_df = (nhl_df.groupby('Metropolitan area')[['W/L%']]
          .mean()
          .merge(nhl_df, on='Metropolitan area')
          .drop_duplicates('Metropolitan area')
          .reset_index(drop=True)
          .rename(columns={'team': 'team_nhl', 'W/L%_y': 'W/L%_nhl'})
          .astype({'W/L%_nhl':'float'})
          )
nhl_df = nhl_df[['Metropolitan area', 'team_nhl', 'W/L%_nhl']]
nhl_df

         Metropolitan area    team_nhl  W/L%_nhl
0                   Boston      Bruins  0.714286
1                  Buffalo      Sabres  0.357143
2                  Calgary      Flames  0.513889
3                  Chicago  Blackhawks  0.458333
4                 Columbus     Jackets  0.600000
5        Dallas–Fort Worth       Stars  0.567568
6                   Denver   Avalanche  0.589041
7                  Detroit       Wings  0.434783
8                 Edmonton      Oilers  0.473684
9                Las Vegas     Knights  0.680000
10             Los Angeles       Ducks  0.637681
11   Miami–Fort Lauderdale    Panthers  0.594595
12  Minneapolis–Saint Paul        Wild  0.633803
13                Montreal   Canadiens  0.420290
14               Nashville   Predators  0.746479
15           New York City      Devils  0.602740
16                  Ottawa    Senators  0.394366
17            Philadelphia      Flyers  0.617647
18                 Phoenix     Coyotes  0.414286
19              Pittsburgh    Penguins  0.618421
20                 Raleigh  Hurricanes  0.507042
21  San Francisco Bay Area      Sharks  0.625000
22               St. Louis       Blues  0.578947
23          Tampa Bay Area   Lightning  0.701299
24                 Toronto       Leafs  0.653333
25               Vancouver     Canucks  0.436620
26        Washington, D.C.    Capitals  0.653333
27                Winnipeg        Jets  0.722222

In [6]:
# nba
nba_df = nba_df.query('year == 2018')
nba_df['team'] = nba_df['team'].str.replace(r'(\*?).\(.+\)', '', regex=True)
nba_df['team'] = nba_df['team'].str.split(' ').str[-1]

# merge
nba_df = pd.merge(nba_df, cities, left_on='team', right_on='NBA')
nba_df = (nba_df.groupby('Metropolitan area')[['W/L%']]
          .mean()
          .merge(nba_df, on='Metropolitan area')
          .drop_duplicates('Metropolitan area')
          .reset_index(drop=True)
          .rename(columns={'team':'team_nba', 'W/L%': 'W/L%_nba'})
          .astype({'W/L%_nba':'float'}))
nba_df = nba_df[['Metropolitan area', 'team_nba', 'W/L%_nba']]
nba_df

C:\Users\jeanm\AppData\Local\Temp\ipykernel_12104\675471983.py:9: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  .mean()

         Metropolitan area      team_nba  W/L%_nba
0                  Atlanta         Hawks     0.293
1                   Boston       Celtics     0.671
2                Charlotte       Hornets     0.439
3                  Chicago         Bulls     0.329
4                Cleveland     Cavaliers     0.610
5        Dallas–Fort Worth     Mavericks     0.293
6                   Denver       Nuggets     0.561
7                  Detroit       Pistons     0.476
8                  Houston       Rockets     0.793
9             Indianapolis        Pacers     0.585
10             Los Angeles      Clippers     0.512
11                 Memphis     Grizzlies     0.268
12   Miami–Fort Lauderdale          Heat     0.537
13               Milwaukee         Bucks     0.537
14  Minneapolis–Saint Paul  Timberwolves     0.573
15             New Orleans      Pelicans     0.585
16           New York City        Knicks     0.354
17           Oklahoma City       Thunder     0.585
18                 Orlando         Magic     0.305
19            Philadelphia         76ers     0.634
20                 Phoenix          Suns     0.256
21                Portland       Blazers     0.598
22              Sacramento         Kings     0.329
23          Salt Lake City          Jazz     0.585
24             San Antonio         Spurs     0.573
25  San Francisco Bay Area      Warriors     0.707
26                 Toronto       Raptors     0.720
27        Washington, D.C.       Wizards     0.524

In [7]:
# mlb
mlb_df = mlb_df.query('year == 2018')
mlb_df = mlb_df.replace({'Boston Red Sox': 'RedSox', 'Chicago White Sox': 'WhiteSox'})
mlb_df['team'] = mlb_df['team'].str.split(' ').str[-1]

#merge
mlb_df = pd.merge(mlb_df, cities, left_on='team', right_on='MLB')
mlb_df = (mlb_df.groupby('Metropolitan area')[['W-L%']]
          .mean()
          .merge(mlb_df, on='Metropolitan area')
          .drop_duplicates('Metropolitan area')
          .reset_index(drop=True)
          .rename(columns={'team': 'team_mlb', 'W-L%_y': 'W-L%_mlb'})
          .astype({'W-L%_mlb':'float'}))

mlb_df = mlb_df[['Metropolitan area', 'team_mlb', 'W-L%_mlb']]
mlb_df

         Metropolitan area      team_mlb  W-L%_mlb
0                  Atlanta        Braves     0.556
1                Baltimore       Orioles     0.290
2                   Boston        RedSox     0.667
3                  Chicago      WhiteSox     0.383
4               Cincinnati          Reds     0.414
5                Cleveland       Indians     0.562
6        Dallas–Fort Worth       Rangers     0.414
7                   Denver       Rockies     0.558
8                  Detroit        Tigers     0.395
9                  Houston        Astros     0.636
10             Kansas City        Royals     0.358
11             Los Angeles        Angels     0.494
12   Miami–Fort Lauderdale       Marlins     0.391
13               Milwaukee       Brewers     0.589
14  Minneapolis–Saint Paul         Twins     0.481
15           New York City       Yankees     0.617
16            Philadelphia      Phillies     0.494
17                 Phoenix  Diamondbacks     0.506
18              Pittsburgh       Pirates     0.509
19               San Diego        Padres     0.407
20  San Francisco Bay Area     Athletics     0.599
21                 Seattle      Mariners     0.549
22               St. Louis     Cardinals     0.543
23          Tampa Bay Area          Rays     0.556
24                 Toronto          Jays     0.451
25        Washington, D.C.     Nationals     0.506

In [ ]:
# mlb
mlb_df = mlb_df.query('year == 2018')
mlb_df = mlb_df.replace({'Boston Red Sox': 'RedSox', 'Chicago White Sox': 'WhiteSox'})
mlb_df['team'] = mlb_df['team'].str.split(' ').str[-1]
mlb_df = mlb_df[['team', 'W-L%']].rename(columns={'team':'team_mlb','W-L%': 'W-L%_mlb'}).astype({'W-L%_mlb':'float'})

# merge MLB
mlb_df = pd.merge(mlb_df, cities, left_on='team_mlb', right_on='MLB')
mlb_df = mlb_df.groupby('Metropolitan area')[['W-L%_mlb']].mean()
mlb_df = mlb_df[['Metropolitan area','team_mlb', 'W-L%_mlb']].drop_duplicates(subset='team_mlb').reset_index(drop=True)
mlb_df

In [1]:
972/13

74.76923076923077

In [8]:
# NFL
nfl_df = nfl_df.query('year == 2018')
nfl_df['team'] = nfl_df['team'].str.replace(r'(\*|\+)', '', regex=True)
nfl_df['team'] = nfl_df['team'].str.split(' ').str[-1]

#merge NFL
nfl_df = pd.merge(nfl_df, cities, left_on='team', right_on='NFL')
nfl_df = (nfl_df.groupby('Metropolitan area')[['W-L%']]
          .mean()
          .merge(nfl_df, on='Metropolitan area')
          .drop_duplicates('Metropolitan area')
          .reset_index(drop=True)
          .rename(columns={'team': 'team_nfl', 'W-L%': 'W-L%_nfl'})
          .astype({'W-L%_nfl': 'float'}))

nfl_df = nfl_df[['Metropolitan area', 'team_nfl', 'W-L%_nfl']]
nfl_df

C:\Users\jeanm\AppData\Local\Temp\ipykernel_12104\3308941077.py:9: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  .mean()

         Metropolitan area    team_nfl  W-L%_nfl
0                  Atlanta     Falcons     0.438
1                Baltimore      Ravens     0.625
2                   Boston    Patriots     0.688
3                  Buffalo       Bills     0.375
4                Charlotte    Panthers     0.438
5                  Chicago       Bears     0.750
6               Cincinnati     Bengals     0.375
7                Cleveland      Browns     0.469
8        Dallas–Fort Worth     Cowboys     0.625
9                   Denver     Broncos     0.375
10                 Detroit       Lions     0.375
11               Green Bay     Packers     0.406
12                 Houston      Texans     0.688
13            Indianapolis       Colts     0.625
14            Jacksonville     Jaguars     0.313
15             Kansas City      Chiefs     0.750
16             Los Angeles    Chargers     0.750
17   Miami–Fort Lauderdale    Dolphins     0.438
18  Minneapolis–Saint Paul     Vikings     0.531
19               Nashville      Titans     0.563
20             New Orleans      Saints     0.813
21           New York City        Jets     0.250
22            Philadelphia      Eagles     0.563
23                 Phoenix   Cardinals     0.188
24              Pittsburgh    Steelers     0.594
25  San Francisco Bay Area     Raiders     0.250
26                 Seattle    Seahawks     0.625
27          Tampa Bay Area  Buccaneers     0.313
28        Washington, D.C.    Redskins     0.438

In [ ]:
# NFL
nfl_df = nfl_df.query('year == 2018')
nfl_df['team'] = nfl_df['team'].str.replace(r'(\*|\+)', '', regex=True)
nfl_df['team'] = nfl_df['team'].str.split(' ').str[-1]
nfl_df = nfl_df[['team', 'W-L%']].rename(columns={'team':'team_nfl','W-L%': 'W-L%_nfl'})

#merge NFL
nfl_df = pd.merge(nfl_df, cities, left_on='team_nfl', right_on='NFL')
nfl_df = nfl_df.groupby('Metropolitan area')[['W-L%_nfl']].mean()
nfl_df = nfl_df[['Metropolitan area','team_nfl', 'W-L%_nfl']].drop_duplicates(subset='team_nfl').reset_index(drop=True).astype({'W-L%_nfl':'float'})
nfl_df

In [9]:
# merge NHL and NBA
df = pd.merge(nba_df, nhl_df, on='Metropolitan area', how='outer')
df = pd.merge(df, mlb_df, on='Metropolitan area', how='outer')
df = pd.merge(df, nfl_df, on='Metropolitan area', how='outer')
df.sort_values(by='Metropolitan area')

,Metropolitan area,team_nba,W/L%_nba,team_nhl,W/L%_nhl,team_mlb,W-L%_mlb,team_nfl,W-L%_nfl
0,Atlanta,Hawks,0.293,NaN,NaN,Braves,0.556,Falcons,0.438
42,Baltimore,NaN,NaN,NaN,NaN,Orioles,0.290,Ravens,0.625
1,Boston,Celtics,0.671,Bruins,0.714286,RedSox,0.667,Patriots,0.688
28,Buffalo,NaN,NaN,Sabres,0.357143,NaN,NaN,Bills,0.375
29,Calgary,NaN,NaN,Flames,0.513889,NaN,NaN,NaN,NaN
2,Charlotte,Hornets,0.439,NaN,NaN,NaN,NaN,Panthers,0.438
3,Chicago,Bulls,0.329,Blackhawks,0.458333,WhiteSox,0.383,Bears,0.750
43,Cincinnati,NaN,NaN,NaN,NaN,Reds,0.414,Bengals,0.375
4,Cleveland,Cavaliers,0.610,NaN,NaN,Indians,0.562,Browns,0.469
30,Columbus,NaN,NaN,Jackets,0.600000,NaN,NaN,NaN,NaN
5,Dallas–Fort Worth,Mavericks,0.293,Stars,0.567568,Rangers,0.414,Cowboys,0.625
6,Denver,Nuggets,0.561,Avalanche,0.589041,Rockies,0.558,Broncos,0.375
7,Detroit,Pistons,0.476,Wings,0.434783,Tigers,0.395,Lions,0.375
31,Edmonton,NaN,NaN,Oilers,0.473684,NaN,NaN,NaN,NaN
47,Green Bay,NaN,NaN,NaN,NaN,NaN,NaN,Packers,0.406
8,Houston,Rockets,0.793,NaN,NaN,Astros,0.636,Texans,0.688
9,Indianapolis,Pacers,0.585,NaN,NaN,NaN,NaN,Colts,0.625
48,Jacksonville,NaN,NaN,NaN,NaN,NaN,NaN,Jaguars,0.313
44,Kansas City,NaN,NaN,NaN,NaN,Royals,0.358,Chiefs,0.750
32,Las Vegas,NaN,NaN,Knights,0.680000,NaN,NaN,NaN,NaN
10,Los Angeles,Clippers,0.512,Ducks,0.637681,Angels,0.494,Chargers,0.750
11,Memphis,Grizzlies,0.268,NaN,NaN,NaN,NaN,NaN,NaN
12,Miami–Fort Lauderdale,Heat,0.537,Panthers,0.594595,Marlins,0.391,Dolphins,0.438
13,Milwaukee,Bucks,0.537,NaN,NaN,Brewers,0.589,NaN,NaN
14,Minneapolis–Saint Paul,Timberwolves,0.573,Wild,0.633803,Twins,0.481,Vikings,0.531
33,Montreal,NaN,NaN,Canadiens,0.420290,NaN,NaN,NaN,NaN
34,Nashville,NaN,NaN,Predators,0.746479,NaN,NaN,Titans,0.563
15,New Orleans,Pelicans,0.585,NaN,NaN,NaN,NaN,Saints,0.813
16,New York City,Knicks,0.354,Devils,0.602740,Yankees,0.617,Jets,0.250
17,Oklahoma City,Thunder,0.585,NaN,NaN,NaN,NaN,NaN,NaN
18,Orlando,Magic,0.305,NaN,NaN,NaN,NaN,NaN,NaN
35,Ottawa,NaN,NaN,Senators,0.394366,NaN,NaN,NaN,NaN
19,Philadelphia,76ers,0.634,Flyers,0.617647,Phillies,0.494,Eagles,0.563
20,Phoenix,Suns,0.256,Coyotes,0.414286,Diamondbacks,0.506,Cardinals,0.188
36,Pittsburgh,NaN,NaN,Penguins,0.618421,Pirates,0.509,Steelers,0.594
21,Portland,Blazers,0.598,NaN,NaN,NaN,NaN,NaN,NaN
37,Raleigh,NaN,NaN,Hurricanes,0.507042,NaN,NaN,NaN,NaN
22,Sacramento,Kings,0.329,NaN,NaN,NaN,NaN,NaN,NaN
23,Salt Lake City,Jazz,0.585,NaN,NaN,NaN,NaN,NaN,NaN
24,San Antonio,Spurs,0.573,NaN,NaN,NaN,NaN,NaN,NaN
45,San Diego,NaN,NaN,NaN,NaN,Padres,0.407,NaN,NaN
25,San Francisco Bay Area,Warriors,0.707,Sharks,0.625000,Athletics,0.599,Raiders,0.250
46,Seattle,NaN,NaN,NaN,NaN,Mariners,0.549,Seahawks,0.625
38,St. Louis,NaN,NaN,Blues,0.578947,Cardinals,0.543,NaN,NaN
39,Tampa Bay Area,NaN,NaN,Lightning,0.701299,Rays,0.556,Buccaneers,0.313
26,Toronto,Raptors,0.720,Leafs,0.653333,Jays,0.451,NaN,NaN
40,Vancouver,NaN,NaN,Canucks,0.436620,NaN,NaN,NaN,NaN
27,"Washington, D.C.",Wizards,0.524,Capitals,0.653333,Nationals,0.506,Redskins,0.438
41,Winnipeg,NaN,NaN,Jets,0.722222,NaN,NaN,NaN,NaN

In [15]:
df1 = df.dropna()
df1

,Metropolitan area,team_nba,W/L%_nba,team_nhl,W/L%_nhl,team_mlb,W-L%_mlb,team_nfl,W-L%_nfl
1,Boston,Celtics,0.671,Bruins,0.714286,RedSox,0.667,Patriots,0.688
3,Chicago,Bulls,0.329,Blackhawks,0.458333,WhiteSox,0.383,Bears,0.750
5,Dallas–Fort Worth,Mavericks,0.293,Stars,0.567568,Rangers,0.414,Cowboys,0.625
6,Denver,Nuggets,0.561,Avalanche,0.589041,Rockies,0.558,Broncos,0.375
7,Detroit,Pistons,0.476,Wings,0.434783,Tigers,0.395,Lions,0.375
10,Los Angeles,Clippers,0.512,Ducks,0.637681,Angels,0.494,Chargers,0.750
12,Miami–Fort Lauderdale,Heat,0.537,Panthers,0.594595,Marlins,0.391,Dolphins,0.438
14,Minneapolis–Saint Paul,Timberwolves,0.573,Wild,0.633803,Twins,0.481,Vikings,0.531
16,New York City,Knicks,0.354,Devils,0.602740,Yankees,0.617,Jets,0.250
19,Philadelphia,76ers,0.634,Flyers,0.617647,Phillies,0.494,Eagles,0.563
20,Phoenix,Suns,0.256,Coyotes,0.414286,Diamondbacks,0.506,Cardinals,0.188
25,San Francisco Bay Area,Warriors,0.707,Sharks,0.625000,Athletics,0.599,Raiders,0.250
27,"Washington, D.C.",Wizards,0.524,Capitals,0.653333,Nationals,0.506,Redskins,0.438

In [31]:
df1 = df1.rename(columns={'W/L%_nba': 'NBA', 'W/L%_nhl':'NHL', 'W-L%_mlb':'MLB', 'W-L%_nfl':'NFL'})
sports = ['NFL', 'NBA', 'NHL', 'MLB']
value = []
for x in sports:
    for y in sports:
        result = stats.ttest_rel(df1[x], df1[y])
        value.append(result.statistic)
print(list(set(value)))

[-0.24852244703578297, -0.3398591583149601, 0.24852244703578297, nan, -0.16085985066871375, 1.966320000853937, 2.928157107851504, 3.464526044761038, 0.3398591583149601, 0.16085985066871375, nan, nan, nan, -3.464526044761038, -2.928157107851504, -1.966320000853937]